@attribute [Route($"/{Route}")]
@using Microsoft.AspNetCore.Authorization
@using Npgsql.Replication.TestDecoding
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>@Texts.TitleStructureGroups</PageTitle>
<h3>@Texts.TitleStructureGroups</h3>

<div class="d-flex gap-3 align-items-center mb-4">
    <a href="@Route" class="link-as-button d-inline-flex justify-content-center align-items-center" title="@Texts.LinkTitleCreateStructureGroup">
        <i class="bi-plus fs-5"></i>
        <span class="mx-1">@Texts.LinkTitleCreateStructureGroup</span>
    </a>
</div>

<div id="structure-groups">
    @foreach(var group in _model.StructureGroups)
    {
        string optionsId = $"options-{group.Id!.Value}";
        string createStructureOptionId = $"create-structure-option-{group.Id!.Value}";
        
        <div class="d-flex justify-content-between">
            <div id="group-@(group.Id!.Value)-details" class="d-flex w-100 justify-content-between">
                <span class="w-100">@group.Name</span>
                <span class="w-100">@group.Path</span>
            </div>
            <div class="dropdown">
                <button type="button"
                        title="Optionen"
                        class="all-unset cursor-pointer dropdown-focusable px-2 py-1"
                        id="@optionsId"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <Ellipsis Width="25" />
                </button>
                <ul class="dropdown-menu" aria-labelledby="@optionsId">
                    <li>
                        <button type="button" id="@createStructureOptionId" class="dropdown-item" @onclick="OnOption1Selected">
                            <div class="d-inline-flex align-items-center gap-1">
                                <i class="bi bi-plus fs-5" title="@Texts.TitleCreateStructure" aria-hidden="true"></i>
                                @Texts.TitleCreateStructure
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

@code {
    [Inject] public ILogger<StructureGroups>? Logger { get; set; }

    public void OnOption1Selected()
    {
        Logger!.LogInformation("Create Structure Option ausgewählt");
    }
}
